<h1>About Ted Talks Data </h1>

<pre>
  <h4>Data Information </h4>
  <p>This datasets contain information about all audio-video recordings of TED Talks uploaded to the official TED.com website until September 21st, 2017. The TED main dataset contains information about all talks including titles, descriptions, speakers, number of views and tags for the ted talks. </p>

  <h4> Database Structure and Entity Relationship Diagram (ERD)</h4>
  <%= link_to 'Database Structure', "/erd.pdf", target: "_blank" %>
</pre>