<div class=" p-3 mb-5">

</div>

<div class="card">
  <h5 class="card-header">About Dataset</h5>
  <div class="card-body">
    <h5 class="card-title">Data Information</h5>
    <p class="card-text text-justify">This datasets contain information about all audio-video recordings of TED Talks uploaded to the official TED.com website until September 21st, 2017. The TED main dataset contains information about all talks including titles, descriptions, speakers, number of views and tags for the ted talks.</p>
    <%= link_to 'Database Structure', "/erd.pdf", target: "_blank", class: "btn btn-primary" %>
  </div>
</div>
