<h1> <%= @tag.name.strip.gsub("'","").capitalize %> </h1>

<ul>
  <% @tag.tedtalks.each do |talk| %>
    <li>
      <pre>
        <b>Title: </b><%= link_to talk.title, talk %>
        <b>Description: </b><%= talk.description %>
      </pre>
    </li>
  <% end %>
</ul>