<div class="shadow-lg p-3 mb-5 bg-light rounded">
  <h3 class="text-info font-weight-bold">Ted Talks</h3>
</div>

<% @tedtalks.each do |talk| %>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading"><%= link_to talk.title, talk %></h4>
    <hr>
    <p class="text-justify"><%= talk.description %></p>
  </div>
<% end %>
