<h1>Ted Talks Details</h1>

<ul>
  <% @tedtalks.each do |talk| %>
    <li>
      <pre>
        <b>Title: </b><%= link_to talk.title, talk %>
        <b>Description: </b><%= talk.description %>
      </pre>
    </li>
  <% end %>
</ul>
